.string {color: #e2ce00}
.number {color: #eddd3d}
.ST2 {color: #098a18}
.literal {color: #f8bb00}
.ST4 {color: #428bdd; font-family: monospace; font-weight: bold}
.ST1 {color: #428bdd}
.ST0 {color: #428bdd; font-family: monospace; font-style: italic}
.ST3 {color: #ec8e01}
